/*Remove Link style*/
.unstyled_link,
.unstyled_link:active {
    color: inherit;
    text-decoration: inherit;
}

@font-face {
    font-family: 'ko355';
    src: local('ko355', url(../assets/ko355.woff) format('truetype'));
}

html,
body,
#root,
.page {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: ko355;
}

.Tabs {
    display: flex;
}

.page {
    background-color: #E5E5E5;
}

.body {
    background-color: #E5E5E5;
    color: black;
    margin: 0;
}

