.unstyled_link,
.unstyled_link:active,
.unstyled_link:hover {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'ko355';
    src: local('ko355'), url(../assets/ko355.woff) format('truetype');
}

@font-face {
    font-family: 'ArchivoRegular';
    src: local('Archivo'), url(../fonts/Archivo/Archivo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ArchivoSemibold';
    src: local('ArchivoSemibold'), url(../fonts/Archivo/Archivo-SemiBold.ttf) format('truetype');
}

html,
body,
#root,
.page {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ArchivoRegular', Arial, Helvetica, sans-serif;
}

.Tabs {
    display: flex;
}

    .Tabs button {
        margin-right: 6px;
        margin-bottom: 8px;
    }

.page {
    background-color: rgb(236, 239, 246);
    padding: 16px;
    min-height: calc(100vh - (85px + 108px));
}

.header {
    height: 85px;
}

.footer {
    height: 108px;
}

@media only screen and (max-width: 720px) {
    .page {
        min-height: calc(100vh - (85px + 260px));
    }

    .footer {
        height: 260px;
    }
}

.body {
    background-color: rgb(236, 239, 246);
    color: rgb(49, 56, 121, 1);
    margin: 0 auto;
    font-family: 'ArchivoRegular', sans-serif;
    font-size: 16px;
}

h1 {
    color: rgb(49, 56, 121, 1);
    font-weight: bold;
    font-size: 36px;
    line-height: 21px;
    font-family: 'ArchivoSemiBold', sans-serif;
}

h2 {
    color: rgb(49, 56, 121, 1);
    font-weight: bold;
    font-family: 'ArchivoSemiBold', sans-serif;
    font-size: 24px;
}

h3 {
    font-weight: bold;
    font-family: 'ArchivoSemiBold', sans-serif;
}

p {
    color: rgb(49, 56, 121, 1);
    font-family: 'ArchivoRegular', sans-serif;
}

a,
a:link,
a:visited {
    color: rgb(255, 171, 64, 1);
}

.boldText {
    font-family: 'ArchivoSemiBold', sans-serif;
}

.linkText {
    font-family: 'ArchivoRegular', sans-serif;
    text-decoration: underline;
    color: rgb(255, 171, 64, 1);
}

.secondary_card {
    background: #3f51b5 !important;
}

.card {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: 'ArchivoRegular', sans-serif;
    margin: 8px;
    color: whitesmoke;
    padding: 0;
    background-color: #757de8;
}

.card .card-header {
    background: #3f51b5 !important;
    padding: 4px;
    font-family: 'ArchivoSemiBold', sans-serif;
}

.card .card-body {
    background-color: #757de8;
    padding: 0;
}

.card .card-footer {
    background-color: #757de8;
    padding: 15px 10px;
    border: unset;
    text-align: start;
}

.card .card-img {
    max-height: 350px;
    max-width: 350px;
}

.primary {
    color: #ffab40;
}

.secondary {
    color: #26366f;
}

.page_header {
    margin-left: -8px !important;
}
