.header{
  padding: 1rem;
  background-color: #FFAB40;
  width: 100%;
}
.headerLink {
  width: fit-content;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 53px;
}

.textContent{
  margin-left: 1rem;
  font-size: 16px;
  line-height: 20px;
  font-family: ko355, sans-serif;
}