.button{
    background-color: inherit;
    color: inherit;
    align-content: inherit;
    padding: 0px;
    padding-left: 10px
}

.button:hover {
    background-color: inherit;
    border: inherit;
    color: inherit;
    align-content: inherit;
    padding: 0px;
    padding-left: 10px
}