.dropdown-location > .dropdown-toggle,
.dropdown-location > .dropdown-menu {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

#dropdown-location {
    background-color: rgb(116, 152, 194);
    border-color: rgb(116, 152, 194);
}
